<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="walker-marker-modal">
  <template>
    <style>
    #modal {
      width: 300px;
    }

    </style>
    <redux-store root-reducer="[[rootReducer]]" action="[[action]]" on-statechange="mapStateToThis"></redux-store>
    <paper-dialog id="modal" with-backdrop>
      <paper-item>Latitude: [[latitude]]</paper-item>
      <paper-item>Longitude: [[longitude]]</paper-item>
      <paper-button noink dialog-dismiss>Done</paper-button>
    </paper-dialog>
  </template>

  <script src="walker-marker-modal.ts"></script>
</dom-module>
