<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="../prendus-course-preview/prendus-course-preview.html">
<link rel="import" href="../prendus-notification/prendus-notification.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<script src="../../bower_components/firebase/firebase.js"></script>
<script src="../../bower_components/firebase-util/dist/firebase-util-normalize.min.js"></script>
<script src="../../bower_components/firebase-util/dist/firebase-util-paginate.min.js"></script>
<script src="../../bower_components/firebase-util/dist/firebase-util.min.js"></script>


<dom-module id="prendus-homepage">
  <style>

		:host {
			display: block;
		}

    .homepage-courses {
      display: flex;
      flex-wrap: wrap;
    }

    .loading-indicator {
      font-size: 16px;
      text-align: center;
      height: 60px;
    }

    .loading-indicator paper-spinner {
      margin-right: 20px;
      vertical-align: middle;
    }

    iron-list {
      flex: auto;
    }

    .course-preview {

      position: relative;
      width: 250px;
      height: 300px;
      margin: 8px;
      flex-grow: 0;
      min-width: 0;
    }


    .course-content {
      @apply(--layout);
    }

    .course-content > prendus-course-preview {
      @apply(--layout-flex);
    }

    @media (max-width: 800px) {
      /*.course-container {
        width: calc(50% - 16px);
      }

      .course-content {
        width: auto;
      }*/
    }
    @media (max-width: 768px) {
      .course-preview {
        flex-basis: 45%;
      }

    }

		@media (max-width: 500px) {
			.homepage-courses {
				display: block;
			}

			.course-preview {
				margin: 10px auto;
			}
		}

  </style>


  <template>
    <prendus-notification success-message="[[successMessage]]" error-message="[[errorMessage]]"></prendus-notification>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
    <!-- TODO: @Brandon I need your help to display more courses the just 2.  I think this website:
    https://elements.polymer-project.org/bower_components/iron-list/demo/grid.html is a good example of maybe how we should do it?
    It fills the entire page too. Source code can be found in app/client/bower_components/iron-list/demo/grid.html-->
    <iron-list id="course-list" items="[[publicCourses]]" as="course" grid>
      <template>
        <div class="course-container">
          <div class="course-content">
            <prendus-course-preview id="[[course.id]]" class="course-preview" course="[[course]]"></prendus-course-preview>
          </div>
        </div>
      </template>
    </iron-list>


    <div class="loading-indicator" hidden$="[[!loading]]">
      <paper-spinner active$="[[loading]]"></paper-spinner> Loading Courses</b>
    </div>

    <iron-scroll-threshold id="threshold" on-lower-threshold="loadMoreData" scroll-target="document">
    </iron-scroll-threshold>
  </template>

  <script src="prendus-homepage.ts"></script>
</dom-module>
