<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../walker-user-options/walker-user-options.html">
<link rel="import" href="../walker-map/walker-map.html">

<dom-module id="walker-app">
  <template>
    <style>
    #leftWrapper {
      float: left;
    }
    #rightWrapper {
      float: right;
    }


    </style>
      <redux-store root-reducer="[[rootReducer]]"></redux-store>
      <span id="leftWrapper">
        <walker-map id="walker-map"></walker-map>
      </span>
      <br>
      <br>
      <br>
      <br>
      <span id="rightWrapper">
        <walker-user-options id="walker-user-options"></walker-user-options>
      </span>

  </template>

  <script src="walker-app.ts"></script>
</dom-module>
