<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">

<dom-module id="prendus-footer">
  <style>

    footer {
      width: 100%;
    }

    .footer-items {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

		@media (max-width: 500px) {
			.long-text {
				display: none;
			}
		}

  </style>
  <template>
    <paper-toolbar>
      <footer class="footer-items">
        <div>&copy; [[getYear()]]&nbsp;<span class="long-text">Prendus LLC</span></div>
        <paper-button id="terms-of-service" on-tap="changeURL" noink>Terms&nbsp;<span id="terms-of-service" class="long-text">of Service</span></paper-button>
        <paper-button id="privacy-policy" on-tap="changeURL" noink>Privacy&nbsp;<span id="privacy-policy" class="long-text">Policy</span></paper-button>
      </footer>
    </paper-toolbar>
  </template>

  <script src="prendus-footer.ts"></script>
</dom-module>
