<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<!-- Import course router so the quiz-edit and course-edit can be loaded independently. -->
<link rel="import" href="../prendus-course-router/prendus-course-router.html">

<dom-module id="prendus-router">
  <style>

    #app-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }

		#home-container {
			display: block;
			width: 100%;
		}

    .app-window {
			box-sizing: border-box;
			margin: auto;
      padding: 20px 50px;
      max-width: 800px;
      width: 100%;
    }

    .loading-spinner {
      position: fixed;
      left: calc(50% - 30px);
      bottom: calc(50% - 30px);
      width: 60px;
      height: 60px;
    }

		@media (max-width: 768px) {
			.app-window {
				padding: 10px 20px;
			}
		}

  </style>
  <template>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

    <app-location route="{{route}}"></app-location>
    <app-route route="[[route]]" pattern="/:page" data="{{pageData}}" tail="{{tail}}" active="{{pageActive}}"></app-route>
    <iron-pages selected="[[mainViewToShow]]" attr-for-selected="show">
      <div class="loading-spinner" show="spinner"></div>

      <iron-pages id="app-container" selected="[[pageData.page]]" category="[[pageData.page]]" attr-for-selected ="data-page" show="routes">
        <iron-pages id="home-container" data-page="" selected="[[loggedIn]]" attr-for-selected="logged-in">
          <prendus-landing id="landing" logged-in="false"></prendus-landing>
          <prendus-homepage id="homepage" logged-in="true" class="app-window" current-page="[[pageData.page]]"></prendus-homepage>
        </iron-pages>
        <prendus-login id="login" class="app-window" data-page="login"></prendus-login>
        <prendus-create-account id="create-account" class="app-window" data-page="signup"></prendus-create-account>
        <prendus-course-router id="course-router" data-page="courses" route="[[tail]]"></prendus-course-router>
        <prendus-profile id="profile" class="app-window" data-page="profile"></prendus-profile>
        <prendus-privacy-policy id="privacy-policy" class="app-window" data-page="privacy-policy"></prendus-privacy-policy>
        <prendus-terms-of-service id="terms-of-service" class="app-window" data-page="terms-of-service"></prendus-terms-of-service>
      </iron-pages>
    </iron-pages>
  </template>

  <script src="prendus-router.ts"></script>
</dom-module>
