<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<dom-module id="prendus-router">
  <style>

    #app-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }

		#home-container {
			display: block;
			width: 100%;
		}

    .app-window {
			box-sizing: border-box;
			margin: auto;
      padding: 20px 50px;
      max-width: 800px;
      width: 100%;
    }

    .loading-spinner {
      position: fixed;
      left: calc(50% - 30px);
      bottom: calc(50% - 30px);
      width: 60px;
      height: 60px;
    }

		@media (max-width: 768px) {
			.app-window {
				padding: 10px 20px;
			}
		}

  </style>
  <template>
    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>

    <app-location route="{{route}}"></app-location>
    <app-route route="[[route]]" pattern="/:page" data="{{pageData}}" tail="{{tail}}" active="{{pageActive}}"></app-route>
    <iron-pages selected="[[mainViewToShow]]" attr-for-selected="show">
      <div class="loading-spinner" show="spinner"></div>

      <iron-pages id="app-container" selected="[[pageData.page]]" category="[[pageData.page]]" attr-for-selected ="data-page" show="routes">
        <iron-pages id="home-container" data-page="" selected="[[loggedIn]]" attr-for-selected="logged-in">
          <prendus-landing id="landing" logged-in="false"></prendus-landing>
        </iron-pages>
      </iron-pages>
    </iron-pages>
  </template>

  <script src="prendus-router.ts"></script>
</dom-module>
