<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">

<dom-module id="walker-user-options">
  <template>
    <redux-store action="[[action]]" on-statechange="mapStateToThis"></redux-store>
    <paper-card>

      Stairs<paper-slider id="stairs" min="0" max="100" value="{{stairs}}" pin="true" immediate-value-change="setStairs()"></paper-slider>
      Elevation<paper-slider min="0" max="100" value="{{elevation}}" pin="true"></paper-slider>
      <paper-checkbox></paper-checkbox>Wilderness<br>

      <paper-checkbox></paper-checkbox>Grass<br>

      <paper-checkbox></paper-checkbox>Building<br>

      <paper-checkbox></paper-checkbox>Parking lots<br>
    </paper-card>

  </template>

  <script src="walker-user-options.ts"></script>
</dom-module>
