<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">

<dom-module id="walker-user-options">
  <template>
    <redux-store action="[[action]]" on-statechange="mapStateToThis"></redux-store>
    <paper-card>

      Stairs<paper-slider id="stairs" min="0" max="100" value="[[stairs]]" pin="true" on-value-change="change"></paper-slider>
      Elevation<paper-slider id="elevation" min="0" max="100" value="[[elevation]]" pin="true" on-value-change="change"></paper-slider>
      Wilderness<paper-slider id="wilderness" min="0" max="100" pin="true" on-value-change="change"></paper-slider>

      Grass<paper-slider id="grass" min="0" max="100" pin="true" on-value-change="change"></paper-slider>

      Building<paper-slider id="building" min="0" max="100" pin="true" on-value-change="change"></paper-slider>

      Parking lots<paper-slider id="parkingLots" min="0" max="100" pin="true" on-value-change="change"></paper-slider>
      Prefer designated paths<paper-slider id="preferDesignatedPaths" min="0" max="100" pin="true" on-value-change="change"></paper-slider>
    </paper-card>

  </template>

  <script src="walker-user-options.ts"></script>
</dom-module>
