<link href="../../bower_components/polymer/polymer.html" rel="import">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/iron-dropdown/iron-dropdown.html">

<dom-module id="prendus-navbar">
  <style>

    a {
      color: currentColor;
      text-decoration: none;
    }

    paper-item:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

		#logo {
			height: 50px;
		}

    #home-link {
      margin-right: auto;
    }

    #menu-name-button {
      cursor: pointer;
    }

		#menu-icon-button {
			display: none;
		}

    #menu-holder {
      align-self: flex-end;
    }

		@media (max-width: 768px) {
			#menu-name-button {
				display: none;
			}
			#menu-icon-button {
				display: block;
			}
		}

  </style>

  <template>

    <redux-store on-statechange="mapStateToThis" action="[[action]]"></redux-store>
    <paper-header-panel>
        <paper-toolbar>
          <a id="home-link" href="/"><img id="logo" src="../../images/navbar-logo.png" alt="Prendus"></a>
          <template is="dom-if" if="[[username]]">
            <div id="menu-name-button" on-tap="toggleMenu">
              <span>[[username]]</span><paper-button noink>Menu <iron-icon icon="arrow-drop-down"></iron-icon></paper-button>
            </div>
						<iron-icon id="menu-icon-button" icon="menu" on-tap="toggleMenu"></iron-icon>

            <div id="menu-holder">
              <iron-dropdown id="menu-items" horizontal-align="right" no-auto-focus>
                <paper-card class="dropdown-content">
                  <paper-listbox id="user-menu-listbox">
                    <paper-item><a href="/profile" tabindex="-1"><paper-button on-tap="toggleMenu">Account ([[username]])</paper-button></a></paper-item>
                    <paper-item><a href="/courses/home" tabindex="-1"><paper-button on-tap="toggleMenu">My Courses</paper-button></a></paper-item>
                    <paper-item><paper-button on-tap="logOutUser">Logout</paper-button on-tap="toggleMenu"></paper-item>
                  </paper-listbox>
                </paper-card>
              </iron-dropdown>
            </div>
          </template>
          <template is="dom-if" if="{{!username}}">
            <a href="/login" tabindex="-1"><paper-button>Log In</paper-button></a>
            <a href="/signup" tabindex="-1"><paper-button>Sign Up</paper-button></a>
          </template>
        </paper-toolbar>
    </paper-header-panel>
  </template>

  <script src="prendus-navbar.ts"></script>
</dom-module>
