<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/redux-store-element/redux-store.html">
<link rel="import" href="../../bower_components/google-apis/google-apis.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-map/google-map-marker.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../walker-marker-modal/walker-marker-modal.html">
<link rel="import" href="../walker-notification/walker-notification.html">

<dom-module id="walker-map">
  <template>
    <style>
    google-map {
      height: 600px;
      width: 1000px;
      display: block;
    }

    #walker-marker-modal {
      width: 300px;
    }
    .indigo {
      background-color: pink;
    }

    .marker {
      background-color: blue;
      color: blue;
    }
    </style>
    <redux-store action="[[action]]" on-statechange="mapStateToThis"></redux-store>

    <walker-notification success-message="[[successMessage]]" error-message="[[errorMessage]]"></walker-notification>
    <paper-button raised class="indigo" on-tap="initMarkers">Init markers</paper-button>
    <paper-button raised class="indigo" on-tap="clearMarkers">Clear markers</paper-button>
    <paper-button raised class="indigo" on-tap="setStartMarker">[[startPointButtonText]]</paper-button>
    <paper-button raised class="indigo" on-tap="setEndMarker">[[endPointButtonText]]</paper-button>
    <template is="dom-if" if="[[displayGoButton]]">
      <paper-button raised class="indigo" on-tap="go">GO!</paper-button>
    </template>

    <google-map
      fit-to-markers
      map-type="satellite"
      click-events="true"
      on-google-map-click="mapClicked"
      api-key="AIzaSyB7zQeZeCZFWzwupwYjbioQYldZkdF3oPk">
      <template is="dom-if" if="[[startMarker]]">
        <google-map-marker
          id="[[startMarker.id]]"
          animation="DROP"
          latitude="[[startMarker.latitude]]"
          longitude="[[startMarker.longitude]]"
          title="Starting point!"
          draggable="true"
          click-events="true"
          drag-events="true"
          class="marker"
          on-google-map-marker-dragend="startMarkerDragDone">
        </google-map-marker>
      </template>
      <template is="dom-if" if="[[endMarker]]">
        <google-map-marker
          id="[[endMarker.id]]"
          animation="DROP"
          latitude="[[endMarker.latitude]]"
          longitude="[[endMarker.longitude]]"
          title="Ending point!"
          draggable="true"
          click-events="true"
          drag-events="true"
          class="marker"
          on-google-map-marker-dragend="endMarkerDragDone">
        </google-map-marker>
      </template>
      <template is="dom-repeat" items="[[markers]]">
          <google-map-marker
            id="[[item.id]]"
            animation="DROP"
            latitude="[[item.latitude]]"
            longitude="[[item.longitude]]"
            title="[[item.title]]"
            draggable="true"
            click-events="true"
            drag-events="true"
            on-google-map-marker-click="editMarker"
            on-google-map-marker-dragend="markerDragDone"
            class="marker">
          </google-map-marker>
      </template>
    </google-map>

    <walker-marker-modal id="walker-marker-modal"></walker-marker-modal>

  </template>

  <script src="walker-map.ts"></script>
</dom-module>
