<link href="../../bower_components/polymer/polymer.html" rel="import">
<link href="../../bower_components/paper-toast/paper-toast.html" rel="import" >

<dom-module id="walker-notification">


  <template>
  <style>
      #errorToastContainer{
        --paper-toast-background-color: red;
        width: 100%;
      }
      #successToastContainer{
        --paper-toast-background-color: green;
        width: 100%;
      }
  </style>
    <paper-toast id="errorToastContainer" text=[[toastText]]></paper-toast>
    <paper-toast id="successToastContainer" text=[[toastText]]></paper-toast>
  </template>

  <script src="walker-notification.ts"></script>
</dom-module>
